{% extends 'base.html.twig' %}

{% block body %}
<h1>Soyez le Bien Venue</h1> 
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam ducimus aliquid quas, aspernatur sequi temporibus maxime corrupti voluptates natus itaque ut ipsam? Praesentium accusamus consectetur culpa architecto harum sapiente est doloribus itaque illo? Odio dolor deserunt quod sed minus.</p>
<p>Illo ullam corrupti voluptatibus. Quo, eveniet tempore non quidem doloribus quis quos dolore totam blanditiis excepturi quisquam voluptatem architecto aspernatur voluptates quas, nulla consequatur vel, illum assumenda molestias. Error id magni aperiam dolorum tenetur voluptatum, aut porro. Quidem, voluptatibus libero!</p>


{% endblock %}